<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888986973871-0bqof01637psg3g396auot71ee9k6fmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888986973871-0bqof01637psg3g396auot71ee9k6fmn</string>
	<key>API_KEY</key>
	<string>AIzaSyCc7A8Z04fNGLcox0WOfjGuPUPstuh-Xek</string>
	<key>GCM_SENDER_ID</key>
	<string>888986973871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.threeamigos.livescraping</string>
	<key>PROJECT_ID</key>
	<string>live-scraping</string>
	<key>STORAGE_BUCKET</key>
	<string>live-scraping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888986973871:ios:6027c9186094d84b86c65a</string>
	<key>DATABASE_URL</key>
	<string>https://live-scraping.firebaseio.com</string>
</dict>
</plist>